/* good */
.list-item {
  color: green;
}

/* good */
.list,
.list-item::before {
  color: green;
}

/* good */
.list-link,
.list-link-new {
  color: green;
}

/* bad */
.not-found {
  color: red;
}

/* ignored */
.list .list-item {
  color: gray;
}

/* ignored */
.list-item:last-child {
  color: gray;
}

/* ignored */
.not-found:nth-child(2n) {
  color: gray;
}
